<!DOCTYPE html>

<html lang="en">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About | Contest-Finder</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- js --}}
    <script src="/js/script.js" defer></script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- facicon --}}
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <div class="navbar">
            <h3 class="brand-title">CF Contest Finder</h3>
            <div id="navbar" class="navbar-buttons">
                <a href="/">Home</a>
                <a href="/howto">How To</a>
                <a class="active" href="/about">About</a>
            </div>
        </div>
    </header>

    <div class="about-container">
      <h2>PRASHANT KUMAR PANKAJ</h1>
      <h4>Student at BIT Mesra</h2>
      <div class="my-image">
        <img src="/img/My pic.jpg" alt="My image">
      </div>
      <p>There is not much about me for me to write and you to read. So let's just leave this part for now. If you still want to know
        a few things about me, I am a pre-grad student at BIT Mesra, studying Computer Science and Engineering. And I guess this is all 
        that's relevant. 😂😂<br><br></p>

      <div class="info">
        <a href="https://github.com/rez-nov" target="_blank"><i class="fa fa-2x fa-github"></i></a>
        <a href="https://www.linkedin.com/in/rezn0v/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
        <a href="https://www.instagram.com/ig_rezn0v/" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
        <a href="mailto:pk747858@gmail.com"><i class="fa fa-2x fa-envelope"></i></a>
      </div>
    </div>

    <footer>
        © Copyright 2020, All Rights Reserved
    </footer>
</body>

</html>